<% let randomString = Math.floor(Math.random() * Number.MAX_SAFE_INTEGER).toString(36) %>
<div class="popup accForm">
  <div class="popupBG">
    <div class="dashboardSpace"></div>
    <h1>Delete Account</h1>
    <div class="form">
      <form action="/api/user/manage/delete/account" method="post">
        <div class="formOption">
          <span id='label'>Username</span>
          <input type="text" name="username" required />
        </div>
        <div class="formOption">
          <span id='label'>Password</span>
          <input type="password" name="password" required />
        </div>
        <div class="formOption">
          <span id='label'>Type "<%- randomString %>"</span>
          <input type="text" name="str" required />
          <input style="display: none;" type="text" name="strCheck" value="<%- randomString %>" />
        </div>
        <div class="submit">
          <input type="submit" class="formSubmit" value="Go!">
        </div>
      </form>
      <% if (error) { %>
        <a class="error"><%= error %></a>
      <% } else if (success) { %>
        <a class="success"><%= success %></a>
      <% } else { %>
          <a class="error">Deleting your account will delete all of the files. If you want them, download them</a>
            <a href="/files/download" style="text-decoration: underline; color: red">here</a><a class="error"> first.</a>
      <% } %>
    </div>
  </div>
  <div class="dashboardOption">
    <a class="dashboardBack" href="/dashboard">Take Me back!</a>
  </div>
</div>