<div class="popup domainForm">
  <div class="popupBG">
    <div class="dashboardSpace"></div>
    <h1>Change Subdomain</h1>
    <div class="form">
      <form action="/api/user/manage/subdomain" method="post">
        <div class="formOption">
          <span id='label'>Password</span>
          <input type="password" name="password" required />
        </div>
        <div class="formOption">
          <span id='label'>New Subdomain</span>
          <input type="text" name="subdomain" required />
        </div>
        <div class="submit">
          <input type="submit" class="formSubmit" value="Go!">
        </div>
      </form>
      <% if (error) { %>
        <a class="error"><%= error %></a>
      <% } else if (success) { %>
        <a class="success"><%= success %></a>
      <% } %>
    </div>
  </div>
  <div class="dashboardOption">
    <a class="dashboardBack" href="/dashboard">Take Me back!</a>
  </div>
</div>