<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home - ShareX-Server</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="shortcut icon" href="/assets/favicon.png" />

  <!-- meta tags -->
  <meta content="Home - ShareX-Server" property="og:title">
  <!-- meta tags needed -->
</head>

<body>
  <%- include('../parts/navbar.ejs') %>

  <div class="title">
    <h2>A ShareX Server</h2>
    <h2>Made By MILLION#1321</h2>
  </div>

  <% if (error) { %>
    <a class="error"><%= error %></a>
  <% } else if (success) { %>
    <a class="success" href="<%= success %>"><%= success %></a>
  <% } %>

</body>

</html>