<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login - ShareX-Server</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="shortcut icon" href="/assets/favicon.png" />

  <!-- meta tags -->
  <meta content="Login - ShareX-Server" property="og:title">
  <!-- meta tags needed -->
</head>

<body>
  <%- include('../parts/navbar.ejs') %>

  <div class="title">
    <h2>Login</h2>
  </div>

  <div class="login">
    <form action="/api/user/login" method="post">

      <div class="formOption">
        <span id='label'>Username</span>
        <input type="username" name="username" required />
      </div>
      <div class="formOption">
        <span id='label'>Password</span>
        <input type="password" name="password" required />
      </div>

      <div class="submit">
        <input type="submit" class="formSubmit" value="Login">
      </div>

    </form>
  </div>

  <% if (error) { %>
  <div class="errorDiv">
    <a class="error"><%= error %></a>
  </div>
  <% } else if (success) { %>
  <div class="successDiv">
    <a class="success" href="<%= success %>"><%= success %></a>
  </div>
  <% } %>

</body>

</html>