@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap');
* {
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

body {
  font-family: 'Recursive', sans-serif;
  background: rgb(38, 38, 38);
  margin: 0;
}

.title {
  margin-top: 10%;
  font-size: xx-large;
  color: white;
}

.home {
  color: white;
  background: #551a8b;
  display: inline-flex;
  margin-top: 2ch;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
  border-radius: 5px;
}

.home:hover {
  transform: translateY(3px);
  background: #451770;
}

/* navbar */

#topnav {
  background: rgb(49, 49, 49);
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  overflow: hidden;
}

#topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#topnav .right {
  float: right
}

#topnav a:hover {
  background-color: #202020;
  color: white;
}

#topnav a.active {
  background-color: #202020;
  color: white;
}

#topnav a.active:hover {
  background-color: #161616;
  color: white;
}

/* files */

.files {
  display: inline-block;
  width: 420px
}

.files div {
  margin: 10px 10px 10px 10px;
  text-align: left;
}

.fileDiv {
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #222222;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
}

.fileData {
  padding: 10px;
  border-radius: 5px;
  background: #4e4d4d;
}

a.Link {
  color: white;
  text-decoration: underline;
}

a.Link:hover {
  color: rgb(158, 158, 158);
}

.nextPage {
  border: 1px;
  border-color: #4e4d4d;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
  background: #272727;
  color: white;
  padding: 6px;
  text-decoration: none;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.438);
}

.nextPage:hover {
  color: white;
  background: #202020;
}

.error {
  color: red;
  margin-top: 30px;
}

.success {
  color: green;
  margin-top: 30px;
}

.login {
  background: rgb(49, 49, 49);
  box-shadow: 2px 5px 9px rgba(0, 0, 0, 0.637);
  width: 400px;
  height: fit-content;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

form.login {
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}

.formOption span {
  color: white;
}

.formOption input {
  display: inline-block;
  color: white;
  outline: none;
  border: #929292 1px solid;
  border-radius: 5px;
  background: #222222;
  padding: 6px 12px 6px 12px;
  margin: 12px 0 12px 0;
  width: 80%;
  font-size: 18px;
}

.formSubmit {
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #272727;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  padding: 6px 12px 6px 12px;
  margin: 12px 0 12px 0;
  width: 100px;
  font-size: 18px;
}

.formSubmit:hover {
  transform: translateY(2px);
  background: #202020;
  margin: 12px 0 12px 0;
  /* padding: 8px 14px 8px 14px; */
}

input {
  outline: none;
}


.userInfo {
  display: inline-block;
  min-width: 420px;
  width: fit-content;
}

.userInfo div {
  margin: 10px 10px 10px 10px;
  text-align: left;
}

.userDiv {
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #222222;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
}

.user {
  padding: 10px;
  border-radius: 5px;
  background: #4e4d4d;
}

.popup {
  position: fixed;
  z-index: 1; 
  padding-top: 200px; 
  top: 0;
  width: 100%; 
  height: 100%; 
  color: white;
  background-color: rgba(0,0,0,0.4);
}

.popupBG {
  border-radius: 5px;
  margin: auto;
  text-align: center;
  background-color: #313131;
  max-width: 420px;
  min-height: 300px;
  height: fit-content;
}

.dashboardSpace {
  height: 1px;
}

.dashboardOption {
  margin-top: 10px;
}

.dashboardBack {
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background:#313131;
  color: white;
  padding: 7px;
  text-decoration: none;
}


.dashboardBack:hover {
 background: #202020;
  padding: 8px;
}

.pagesDiv {
  max-width: 400px;
  text-align: center;
}

.pages {
  /* margin: 0 auto; */
  display: inline-flex;
  max-width: 400px;
  text-align: center;
}

.dangerOptions {
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 2px;
  margin-left: 2px;
  color: white;
  padding: 7px;
  text-decoration: none;
}

.popupBG {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.5);
}