<div id="topnav">
  <a class="active" href="/">Home</a>
  <% if(user) { %>
  <a href="/upload">Upload</a>
  <a href="/files">Files</a>
  <a href="/logout">Log Out</a>
  <a class="right" href="/dashboard">Dashboard</a>
  <% } else { %>
  <a href="/signup">Sign Up</a>
  <a href="/login">Login</a>
  <% } %>
</div>